 /* Style wspolne dla wielu podstron */
 body,html
 {
     margin: 0;
     padding: 0;
     font-family: 'Open Sans Condensed', sans-serif;
     background-color: rgba(255, 255, 255, 0.836);
     scroll-behavior: smooth;
     width: 100%;
     -webkit-font-smoothing: subpixel-antialiased;
     font-size: 12px;
 }
 
 
 
 
 
 /* style paska nawigacji */
 .menu {
 background-color: whitesmoke;
 overflow: hidden;
 top:0;
 width: 100%;
 margin: auto;
 position: -webkit-sticky;
 position: sticky;
 z-index: 2;
 box-shadow: 0 10px 50px  rgba(131, 131, 131, 0.5);
 
 
 }
 
 /* Style linkow w pasku nawigacji */
 .menu a {
 display: block;
 float: right;
 color: rgb(0, 0, 0);
 text-align: center;
 padding: 16px 20px  ;
 text-decoration: none;
 font-size: 2em;
 margin: 0 20px 0 20px;
 }
 .menu .logo
 {
 float: left;
 background-color: rgba(0, 0, 0, 0) !important;
 }
 
 
 
 /* zmiana koloru on hover */
 .menu a:hover {
 background-color:rgba(82, 143, 250, 0.3) ; 
 transition: background-color 0.6s ease;
 }
 
 /* schowaj ikone dla ekran>600px */
 .menu .icon {
 display: none;
 }
 /* animacja Zmniejszanie opacity dla paska nawigacji */
 .navfade { 
 -webkit-animation-name: nav_fade;
 -webkit-animation-duration: 1.5s;
 animation-name: nav_fade;
 animation-duration: 1.5s;
 animation-fill-mode: forwards;
 }
 @-webkit-keyframes nav_fade {
 from {opacity: 1} 
 to {opacity: .7}
 }
 
 @keyframes nav_fade {
 from {opacity: 1} 
 to {opacity: .7}
 }
 /* koniec animacji */
 
 
 
 .content
 {
 z-index: 1; /* warstwa pod naglowkiem */
 text-align: center;
 font-family: 'Source Code Pro', monospace;
 position: relative;
 }

 .hline 
{
    background-color: rgba(100, 100, 100, 0.25);
    width: 15%;
    height: 1px;
    display: inline-block;
    margin-bottom: 0.25em;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1px;
}
 
 
     .opis_zakladki
     {
         font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         font-size: 1.5em;
         text-align: center;
         margin: auto;
         margin-top: 30px;
         width: 70%;
     }
     .opis_zakladki b
     {
         font-size: 1.7em;
         margin: auto;
     }
     .sl_klucze
     {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-flow: row wrap;
         width: 100%;
         height: 80px;
     }
 
     .sl_klucze img
     {
         width: 50px;
         height: 50px;
         margin: 0 10% 0 10%;
     }
     .sl_klucze img:hover
     {
         cursor: pointer;
     }
 
     .article
     {
         width: 100%;
         display: flex;
         flex-direction: row;
         flex-flow: row wrap;
         align-items: center;
         position: relative;
     
     }
     .roleta
     {
         
         margin: auto;
         margin-bottom: 15%;
         height: 400px;
         width: 400px;
         background-color: black;
         font-family: 'Open Sans Condensed', sans-serif;
         box-shadow: 0 30px 100px  rgba(70, 70, 70, 0.5);
     
     
     }







/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* koniec styli wspólnych */





/* STYLE STRONY GŁÓWNEJ */

/* SLAJDSZOL */

/* Slideshow container */
.slideshow-container {
max-width: 100%;
position: relative;
margin: auto;

}

/* schowaj kiedy js nie dziala */
.mySlides {
display: none;

}

/* kropki */
.dot {
height: 10px;
width: 10px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;

}

.active {
background-color: #717171;
}

/* Fading  */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .5} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .5} 
to {opacity: 1}
}

/* /SZLAJSZOL */




.naglowek
{

padding: 0;
margin: 5% 0 5% 0;
position: relative;
font-size: 4em;
text-shadow: 0 0 10px rgb(179, 194, 243);
font-weight: 500;


}


.opis_link
{
margin: 0;
padding: 0;
color: rgb(20, 20, 20);
background-color: whitesmoke;
font-size: 1.5em;
text-align: center;
}
.gora
{

    font-size: 2.5em;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
}





/* ofera rolet */
 .roleta.zew
 {
     background-image: url("../img/roleta_zew1.jpg");
     background-size: cover;
     
 }
 .roleta.wew
 {
     background-image: url("../img/roleta_wew.jpg");
     background-size: cover;
     
 }

 .roleta.moskit
 {
    background-image: url("../img/moskit.jpg");
    background-size: cover;
 }

 .roleta.brama
 {
    background-image: url("../img/brama.jpg");
    background-size: cover;
 }

 .roleta.pergola
 {
     background-image: url("../img/pergola.jpg");
     background-size: cover;
 }

 .roleta.karnisze
 {
     background-image: url("../img/stub.jpg");
     background-size: cover;
 }

 .roleta.markizy
 {
     background-image: url("../img/markiza.jpg");
     background-size: cover;
 }

 .roleta.zabudowy
 {
     background-image: url("../img/stub.jpg");
     background-size: cover;
 }
 /* koniec oferty rolet */

 /* linki */
 .roleta a
{
    margin: 0;
    text-decoration: none;
    display: block;
    color: black;
    position: relative;
    height: 199px; /*1/2 wysokosci -> 200px-1outline*/
    padding-top: 40%;
    font-size: 3em;
    font-weight: 800;
    opacity: 0;
    outline:1px solid black;
    outline-offset:-15px;
    

}
.roleta a:hover
{
    opacity: 1;
    transition: opacity 0.6s ease;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}


/* opis tabelki */
.text
{
    position: relative;
    text-align: justify;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 10% 10% 10%;
    margin:0;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
}
/* style WYCENY*/
#wycena 
{
width: 100%;
background-image: url("../img/wycena.jpg");
}
#montaz
{
    padding: 20px;
    color: white;
    font-size: 4em;
}
#wycena p
{
    font-size: 2em;
    background-color: whitesmoke;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 70%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    max-height: 100%;
}



/* koniec WYCENY */











/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */











/* Media start */
@media screen and (max-width: 850px) {
    .menu
    {
    position: relative;
    width: 100%;
    }
    .menu a {  
        margin: 0;
        }
    .menu a:not(:first-child) {display: none;}
    
    .menu a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    }
   
    .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
    .menu .logo
    {
    float: left;
    background-color: rgba(0, 0, 0, 0) !important;
    max-width: 50vw;
    }
   
    .dot {
        cursor: pointer;
        height: 5px;
        width: 5px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        
        }
        .naglowek
        {
            font-size: 3em;
        }
        #wycena
        {
            font-size: 0.9em;
        }
        .roleta
        {
            
            margin: auto;
            height: 300px;
            width: 300px;
            background-color: black;
            font-family: 'Open Sans Condensed', sans-serif;
        
        }




        .roleta a
        {
            margin: 0;
            text-decoration: none;
            color: black;
            height: 139px; /* idk*/ 
            font-size: 2em;
            font-weight: 800;
            opacity: 0;
            outline:1px solid black;
            outline-offset:-15px;
            
        
        }
        .roleta.zew
        {
           margin-bottom: 40%;
            
        }
        .roleta.wew
        {
            margin-bottom: 40%;
            
        }
        .roleta.moskit
        {
            margin-bottom: 40%;
        }
        .roleta.brama
        {
            margin-bottom: 40%;
        }









        footer
    {
        position: relative;
        width: 100%;
        
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        font-family: Arial, sans-serif;

        margin-top: auto;

        
    }
    .opis_zakladki
    {
        font-size: 12px;
    }
  



    }

    @media screen and (max-width: 523px) {
        .hline
        {
            display: none;
        }
        #wycena p
{
    font-size: 1.7em;
    margin-bottom: 10%;

}

    }
    /* Media koniec */
    

   